openapi: 3.0.3
info:
  title: Keygen Artifacts Processes API
  description: 'Representative OpenAPI description of the Keygen software licensing, entitlements, and distribution API. Keygen follows the JSON:API specification (https://jsonapi.org): request and response bodies use the media type `application/vnd.api+json` and wrap resources in a top-level `data` object with `type`, `id`, `attributes`, and `relationships`. All endpoints are scoped to an account under `/v1/accounts/{account}`, where `{account}` is the account''s UUID or slug. Authentication is a Bearer token (admin, environment, product, user, or license token) or, for license validation, a license key. This document is a faithful subset intended for discovery; consult keygen.sh/docs/api for the full, authoritative reference.'
  termsOfService: https://keygen.sh/terms/
  contact:
    name: Keygen Support
    url: https://keygen.sh/contact/
    email: support@keygen.sh
  license:
    name: Documentation - CC BY 4.0
    url: https://keygen.sh/docs/api/
  version: '1.0'
servers:
- url: https://api.keygen.sh/v1/accounts/{account}
  description: Keygen Cloud (and default self-hosted CE/EE base path)
  variables:
    account:
      default: your-account-id
      description: Account UUID or slug.
security:
- bearerAuth: []
- licenseKeyAuth: []
tags:
- name: Processes
  description: Concurrent processes running on a machine.
paths:
  /processes:
    post:
      operationId: spawnProcess
      tags:
      - Processes
      summary: Spawn a process
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ProcessDocument'
      responses:
        '201':
          description: Process spawned.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ProcessDocument'
    get:
      operationId: listProcesses
      tags:
      - Processes
      summary: List all processes
      responses:
        '200':
          description: A list of processes.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ProcessCollectionDocument'
  /processes/{id}/actions/ping:
    parameters:
    - $ref: '#/components/parameters/Id'
    post:
      operationId: pingProcess
      tags:
      - Processes
      summary: Ping a process (heartbeat)
      responses:
        '200':
          description: The pinged process.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ProcessDocument'
components:
  parameters:
    Id:
      name: id
      in: path
      required: true
      description: The identifier (UUID) of the resource.
      schema:
        type: string
        format: uuid
  schemas:
    Relationship:
      type: object
      properties:
        data:
          oneOf:
          - $ref: '#/components/schemas/ResourceIdentifier'
          - type: array
            items:
              $ref: '#/components/schemas/ResourceIdentifier'
          - type: 'null'
        links:
          type: object
          properties:
            related:
              type: string
    ResourceIdentifier:
      type: object
      properties:
        type:
          type: string
        id:
          type: string
      required:
      - type
      - id
    ProcessDocument:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ProcessResource'
    PageLinks:
      type: object
      properties:
        self:
          type: string
        first:
          type: string
        prev:
          type: string
        next:
          type: string
        last:
          type: string
    ProcessResource:
      type: object
      properties:
        type:
          type: string
          example: processes
        id:
          type: string
        attributes:
          type: object
          properties:
            pid:
              type: string
            status:
              type: string
              enum:
              - ALIVE
              - DEAD
            interval:
              type: integer
            created:
              type: string
              format: date-time
        relationships:
          type: object
          properties:
            machine:
              $ref: '#/components/schemas/Relationship'
            license:
              $ref: '#/components/schemas/Relationship'
    ProcessCollectionDocument:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ProcessResource'
        links:
          $ref: '#/components/schemas/PageLinks'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: token
      description: 'Admin, environment, product, user, or license bearer token in the `Authorization: Bearer <token>` header.'
    licenseKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: license-key
      description: 'A license key passed as `Authorization: License <key>` for license validation and self-service actions.'
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic (email:password) used only to generate a user token.
