openapi: 3.2.0
info:
  title: Keygen Components API
  description: Representative OpenAPI description of the Keygen software licensing, entitlements, and distribution API.
  termsOfService: https://keygen.sh/terms/
  contact:
    name: Keygen Support
    url: https://keygen.sh/contact/
    email: support@keygen.sh
  license:
    name: Documentation - CC BY 4.0
    url: https://keygen.sh/docs/api/
  version: '1.0'
servers:
- url: https://api.keygen.sh/v1/accounts/{account}
  description: Keygen Cloud (and default self-hosted CE/EE base path)
  variables:
    account:
      default: your-account-id
      description: Account UUID or slug.
security:
- bearerAuth: []
- licenseKeyAuth: []
tags:
- name: Components
  description: Hardware components of a machine fingerprint.
paths:
  /machines/{id}/components:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      operationId: listMachineComponents
      tags:
      - Components
      summary: List a machine's components
      responses:
        '200':
          description: A list of components.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ComponentCollectionDocument'
  /components:
    post:
      operationId: createComponent
      tags:
      - Components
      summary: Create a component
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ComponentDocument'
      responses:
        '201':
          description: Component created.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ComponentDocument'
    get:
      operationId: listComponents
      tags:
      - Components
      summary: List all components
      responses:
        '200':
          description: A list of components.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ComponentCollectionDocument'
components:
  schemas:
    Relationship:
      type: object
      properties:
        data:
          oneOf:
          - $ref: '#/components/schemas/ResourceIdentifier'
          - type: array
            items:
              $ref: '#/components/schemas/ResourceIdentifier'
          - type: 'null'
        links:
          type: object
          properties:
            related:
              type: string
    ComponentDocument:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ComponentResource'
    PageLinks:
      type: object
      properties:
        self:
          type: string
        first:
          type: string
        prev:
          type: string
        next:
          type: string
        last:
          type: string
    ComponentCollectionDocument:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ComponentResource'
        links:
          $ref: '#/components/schemas/PageLinks'
    ResourceIdentifier:
      type: object
      properties:
        type:
          type: string
        id:
          type: string
      required:
      - type
      - id
    ComponentResource:
      type: object
      properties:
        type:
          type: string
          example: components
        id:
          type: string
        attributes:
          type: object
          properties:
            fingerprint:
              type: string
            name:
              type: string
            created:
              type: string
              format: date-time
        relationships:
          type: object
          properties:
            machine:
              $ref: '#/components/schemas/Relationship'
            license:
              $ref: '#/components/schemas/Relationship'
  parameters:
    Id:
      name: id
      in: path
      required: true
      description: The identifier (UUID) of the resource.
      schema:
        type: string
        format: uuid
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: token
      description: 'Admin, environment, product, user, or license bearer token in the `Authorization: Bearer <token>` header.'
    licenseKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: license-key
      description: 'A license key passed as `Authorization: License <key>` for license validation and self-service actions.'
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic (email:password) used only to generate a user token.
