openapi: 3.2.0
info:
  title: Keygen Users API
  description: Representative OpenAPI description of the Keygen software licensing, entitlements, and distribution API.
  termsOfService: https://keygen.sh/terms/
  contact:
    name: Keygen Support
    url: https://keygen.sh/contact/
    email: support@keygen.sh
  license:
    name: Documentation - CC BY 4.0
    url: https://keygen.sh/docs/api/
  version: '1.0'
servers:
- url: https://api.keygen.sh/v1/accounts/{account}
  description: Keygen Cloud (and default self-hosted CE/EE base path)
  variables:
    account:
      default: your-account-id
      description: Account UUID or slug.
security:
- bearerAuth: []
- licenseKeyAuth: []
tags:
- name: Users
  description: End users and license owners.
paths:
  /users:
    post:
      operationId: createUser
      tags:
      - Users
      summary: Create a user
      security: []
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UserDocument'
      responses:
        '201':
          description: User created.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UserDocument'
    get:
      operationId: listUsers
      tags:
      - Users
      summary: List all users
      responses:
        '200':
          description: A list of users.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UserCollectionDocument'
  /users/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      operationId: retrieveUser
      tags:
      - Users
      summary: Retrieve a user
      responses:
        '200':
          description: A user.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UserDocument'
    patch:
      operationId: updateUser
      tags:
      - Users
      summary: Update a user
      responses:
        '200':
          description: User updated.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UserDocument'
    delete:
      operationId: deleteUser
      tags:
      - Users
      summary: Delete a user
      responses:
        '204':
          description: User deleted.
components:
  schemas:
    UserDocument:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/UserResource'
    UserCollectionDocument:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UserResource'
        links:
          $ref: '#/components/schemas/PageLinks'
    PageLinks:
      type: object
      properties:
        self:
          type: string
        first:
          type: string
        prev:
          type: string
        next:
          type: string
        last:
          type: string
    UserResource:
      type: object
      properties:
        type:
          type: string
          example: users
        id:
          type: string
        attributes:
          type: object
          properties:
            firstName:
              type:
              - string
              - 'null'
            lastName:
              type:
              - string
              - 'null'
            email:
              type: string
              format: email
            status:
              type: string
              enum:
              - ACTIVE
              - INACTIVE
              - BANNED
            role:
              type: string
              enum:
              - user
              - admin
              - developer
              - sales-agent
              - support-agent
              - read-only
            metadata:
              type: object
              additionalProperties: true
  parameters:
    Id:
      name: id
      in: path
      required: true
      description: The identifier (UUID) of the resource.
      schema:
        type: string
        format: uuid
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: token
      description: 'Admin, environment, product, user, or license bearer token in the `Authorization: Bearer <token>` header.'
    licenseKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: license-key
      description: 'A license key passed as `Authorization: License <key>` for license validation and self-service actions.'
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic (email:password) used only to generate a user token.
