openapi: 3.0.3
info:
  title: Keygen Artifacts Entitlements API
  description: 'Representative OpenAPI description of the Keygen software licensing, entitlements, and distribution API. Keygen follows the JSON:API specification (https://jsonapi.org): request and response bodies use the media type `application/vnd.api+json` and wrap resources in a top-level `data` object with `type`, `id`, `attributes`, and `relationships`. All endpoints are scoped to an account under `/v1/accounts/{account}`, where `{account}` is the account''s UUID or slug. Authentication is a Bearer token (admin, environment, product, user, or license token) or, for license validation, a license key. This document is a faithful subset intended for discovery; consult keygen.sh/docs/api for the full, authoritative reference.'
  termsOfService: https://keygen.sh/terms/
  contact:
    name: Keygen Support
    url: https://keygen.sh/contact/
    email: support@keygen.sh
  license:
    name: Documentation - CC BY 4.0
    url: https://keygen.sh/docs/api/
  version: '1.0'
servers:
- url: https://api.keygen.sh/v1/accounts/{account}
  description: Keygen Cloud (and default self-hosted CE/EE base path)
  variables:
    account:
      default: your-account-id
      description: Account UUID or slug.
security:
- bearerAuth: []
- licenseKeyAuth: []
tags:
- name: Entitlements
  description: Named feature flags attached to policies and licenses.
paths:
  /entitlements:
    post:
      operationId: createEntitlement
      tags:
      - Entitlements
      summary: Create an entitlement
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/EntitlementDocument'
      responses:
        '201':
          description: Entitlement created.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/EntitlementDocument'
    get:
      operationId: listEntitlements
      tags:
      - Entitlements
      summary: List all entitlements
      responses:
        '200':
          description: A list of entitlements.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/EntitlementCollectionDocument'
  /entitlements/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      operationId: retrieveEntitlement
      tags:
      - Entitlements
      summary: Retrieve an entitlement
      responses:
        '200':
          description: An entitlement.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/EntitlementDocument'
    patch:
      operationId: updateEntitlement
      tags:
      - Entitlements
      summary: Update an entitlement
      responses:
        '200':
          description: Entitlement updated.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/EntitlementDocument'
    delete:
      operationId: deleteEntitlement
      tags:
      - Entitlements
      summary: Delete an entitlement
      responses:
        '204':
          description: Entitlement deleted.
components:
  parameters:
    Id:
      name: id
      in: path
      required: true
      description: The identifier (UUID) of the resource.
      schema:
        type: string
        format: uuid
  schemas:
    EntitlementDocument:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/EntitlementResource'
    EntitlementCollectionDocument:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/EntitlementResource'
        links:
          $ref: '#/components/schemas/PageLinks'
    PageLinks:
      type: object
      properties:
        self:
          type: string
        first:
          type: string
        prev:
          type: string
        next:
          type: string
        last:
          type: string
    EntitlementResource:
      type: object
      properties:
        type:
          type: string
          example: entitlements
        id:
          type: string
        attributes:
          type: object
          properties:
            name:
              type: string
              nullable: true
            code:
              type: string
              description: Unique, immutable entitlement code (e.g. FEATURE_X).
            metadata:
              type: object
              additionalProperties: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: token
      description: 'Admin, environment, product, user, or license bearer token in the `Authorization: Bearer <token>` header.'
    licenseKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: license-key
      description: 'A license key passed as `Authorization: License <key>` for license validation and self-service actions.'
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic (email:password) used only to generate a user token.
